colornav = #2385A1
botones = #33BCF2

body
	background white

h1
	color white
	margin: 1em
	font-size 1em
		
header
	position fixed
	background colornav
	margin-top 0em
	width 100%
	z-index 5
	
footer
	background colornav
	color white
	padding 1em 0
	text-align center
	a 
		color white

#top
	padding-top 3em
	width 100%
	z-index 1
	
.bar-menu
	color white
	margin: 1em 1em 1em 0

.go-up
	width 10%
	margin-top -3em

	
@media (max-width: 768px)
	.menu
		display none
		


